.user{
    flex: 4;
    padding: 20px;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButn{
    width: 90px;
    border: none;
    padding: 6px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}

.userShow{
    flex: 1;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.userUpdate{
    flex: 2;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin-left: 20px;
}

.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername{
    font-weight: 600;
}

.userShowUserTitle{
    font-weight: 300;
}
.userShowBottom{
    margin-top: 20px;
}
.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(173, 173, 173);
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}

.userUpdateTitle{
    font-size: 25px;
    font-weight: 600;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 4px;
}
.userUpdateInpute{
    border: none;
    width: 300px;
    height: 30px;
    border-bottom: 1px solid grey;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
}

.userUpdateImg{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    margin-right:20px;
}
.userUpdateIcon{
    font-size: 1.5rem ;
    cursor: pointer;
}

.userUpdateButn{
    border: none;
    padding: 5.5px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;

}

